<section class="feed{{#if empty}} flex-centered{{else}} flex-vertical-left{{/if}}">
{{#if empty}}
  <div class="feed__info-text text text_size_m text_weight_regular">Выберите чат, чтобы отправить 
сообщение, или <a class="feed__info-text-link" href="#">создайте новый</a></div>
{{else}}

  {{#with chatMessages}}
    <div class="feed__title-wrap">
      <img class="feed__avatar" src={{avatar}} alt="Аватар пользователя {{title}}.">
      <div class="feed__title text text_size_m text_weight_regular">{{title}}</div>
      <div class="feed__chat-settigs icon icon_medium flex-centered">{{{Icon type="chatSettings"}}}</div>
    </div>
    <ul class="feed__messages-feed flex-vertical-left">
    {{#each messages}}
      <li class="feed__list-item">
        {{{FeedMessage user=user time=time content=content isFile=isFile url=url}}}
      </li>
    {{/each}}
    </ul>

    <div class="feed__new-message-wrap flex-centered">
      {{#with message_input}}
        {{{Input name=name placeholder=placeholder}}}    
      {{/with}}
      <div class="feed__clip-icon icon icon_medium">{{{Icon type="clip"}}}</div>
      <div class="feed__send-icon icon icon_medium">{{{Icon type="send"}}}</div>
    </div>

  {{/with}}
{{/if}}
</section>
