<section class="side-menu flex-vertical-left
  {{#if sideMenuExpanded}}side-menu_expanded{{/if}}
">
  <div class="side-menu__search flex-centered" >
    {{#if sideMenuExpanded}}
      <div class="side-menu__search_expanded">
          {{{Form 
            inputs=inputs 
            ref="formRef" 
            formButton=false 
            formName="search"
            }}}
        <div class="side-menu__search-icon_expanded icon icon_medium">{{{Icon onClick=handleSearch type="search"}}}</div>
      </div>
    {{else}}
      <div class="side-menu__search-icon icon icon_large">{{{Icon onClick=expandSideMenu type="search"}}}</div>
    {{/if}}
  </div>
  <ul class="side-menu__chats">
      {{#each chats }}
      <li>
        {{{MenuMessage 
          expanded=@root/sideMenuExpanded
          avatar=avatar 
          unread_count=unread_count
          last_message=last_message
          title=title
          id=id
        }}}
      </li>
      {{/each}}
  </ul>

  <div class="side-menu__footer flex-centered">
      <ul class="side-menu__icons-wrap flex-row-spaced">
        {{#if sideMenuExpanded}}
          <li><div class="side-menu__footer-icon icon icon_large flex-centered">{{{Icon onClick=addChat type="addPerson"}}}</div></li>
          <li><div class="side-menu__footer-icon icon icon_large flex-centered">{{{Icon onClick=goToProfilePage type="settings"}}}</div></li>
        {{/if}}
        <li><div class="side-menu__footer-icon icon icon_large flex-centered" data-ref="toggleMenu">{{{Icon onClick=toggleSideMenu type="expand"}}}</div></li>
      </ul>
  </div>
</section>
