<form class="form" action="" name={{formName}}>
  <fieldset class="form__fieldset text text_size_m text_weight_regular">
    <legend class="form__legend">
      {{formTitle}}
    </legend>
    {{#each inputs}}
      {{#with this}}
        {{{InputField
          labelText=labelText
          name=name
          type=type
          id=id
          required=required
          placeholder=placeholder
          value=value
          error=error
          onChange=onChange
          onFocus=onFocus
          onBlur=onBlur
          autocomplete=autocomplete
          accept=accept
          ref=ref
          errorRef=errorRef
        }}}
      {{/with}}
    {{/each}}
  </fieldset>
  {{#if addon}}
    <div class="form__addon text text_size_m text_weight_regular">
      <span>
        {{addon.text}}
      </span>
      {{#Link to=addon.link}}
        <span class="text-link">
          {{addon.linkText}}
        </span>
      {{/Link}}
    </div>
  {{/if}}
  {{#if formButton}}
    {{{Button ref="submitButton" onClick=handleSubmit text=formButton.text}}}
  {{/if}}
</form>
