<div class="avatar avatar_size_{{size}}">
  {{#if user.avatar}}
    <img
      class="avatar__image avatar_size_{{size}}"
      src={{user.avatar}}
      alt="Аватар пользователя {{user.first_name}} {{user.second_name}}."
    />
  {{else}}
    <div class="avatar__fallback flex-centered">
      <div class="text">
        {{abbr}}
      </div>
    </div>
  {{/if}}
</div>
