<dialog class="chat-edit-dialog flex-centered 
  {{#if editChatDialogVisible}}
  {{else}}
    chat-add-dialog_hidden
  {{/if}} 
" >
{{@log this}}
  <div class="chat-edit-dialog__content">
    <div class="icon icon_small icon_fixed_topright" data-ref="closeIcon">
      {{{Icon type="close" onClick=closeDialog}}}
    </div>
    <h2 class="text text_size_m">{{activeChat.chat.title}}</h2>

    <p class="text text_size_s">
      Аватар чата
    </p>

    <div class="chat-edit-dialog__avatar-wrap flex-row-space-between">
          {{{Avatar size="m" avatar=activeChat.chat.avatar abbr=activeChat.chat.title}}}
          <label class="chat-edit-dialog__avatar-label flex-centered" for="chatAvatar">
            <div class="chat-edit-dialog__avatar-edit-icon icon icon_medium">
                {{{Icon type="avatarEdit"}}}
            </div>
            {{{Input onChange=handleAvatarChange id="chatAvatar" name="chatAvatar" type="file" accept="*/image"}}}
          </label>
    </div>
    

<p class="text text_size_s ">
  Участники чата
</p>
    тут отдельный дропдаун блок - список пользователей с кнопкой удалить
    {{{Button text="Добавить пользователя"}}}


    тут отдельный блок с логикой добавления через поиск по логину и id 
    {{{Button text="Добавить пользователя"}}}

    {{{Button text="Удалить чат" onClick=handleChatDelete}}}

  </div>
</dialog>
