<section class="profile-edit-password flex-vertical-left">
  <h1 class="profile-edit-password__title text text_size_m text_weight_bold">
    {{user.first_name}} {{user.second_name}}
  </h1>
  <img
    class="profile-edit-password__avatar"
    width="300"
    height="300"
    src={{#if user.avatar}}
          {{user.avatar}}
        {{else}}
          {{avatarTemplate}}
        {{/if}}
    alt="Аватар пользователя {{user.display_name}}."
  />
  <div class="profile-edit-password__password">
    {{{Form handleSubmit=handleSubmit inputs=inputs ref="formRef" formButton=formButton formName=formName}}}
  <div>
</section>
